.container{
    padding-bottom: 3%;
}

form{
    padding-left: 5%;
}

.block{
    padding-bottom: 2%;
}

.row p{
    padding-bottom: 0%;
}

.header{
    min-width: 75vw;
}

input{
    max-width: 12vw;
}