.header{
    min-width: 75vw;
}


#question-list{
    min-width: 50vw;
    padding-left: 2%;
    padding-right: 2%;
}

.question-container{
    margin-top: 1%;
    border: none;
    box-shadow : 0px 3px 10px 0px black;

}

.card{
    min-width: 15vw;
    padding: 8%;
    border: 1px solid black;
    box-shadow : 0px 0px 5px 0px black;
}

.card input{
    max-width: 12vw;
}
#results{
    max-width: 70vw;
    padding: 1%;
}

#filterCard{
    padding-bottom: 2%;
    margin-left: 1%;
}
#shift{
    margin-left: 4%;
    padding-bottom: 3%;
}
